<html>
    <head>
        <title>Buses data</title>
    </head>
    <body>
        <form method="post">{% csrf_token %}
            <div class="form_group">
               <label>Buses_offer</label>
               <input type="text" name="offer" >
            </div>
            <div class="form_group">
               <label>insert_url</label>
               <input type="text" name="inserturl" >
            </div>
            <div class="form_group">
                <label>update_url</label>
                <input type="text" name="updateurl" >
             </div>
            <input type="submit" class="btn btn-primary">
           </form>
    </body>
</html>